/* Tablet */
@media (max-width: 900px) {

  .achGrid {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 18px !important;
  }

}


/* Mobile */
@media (max-width: 560px) {

  .achContainer {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

}

