/* MOBILE ONLY */
@media (max-width: 560px) {

  /* reduce heading size only on mobile */
  #skills h2 {
    font-size: 24px !important;
  }

  /* convert flex row into grid ONLY on mobile */


}
